body {
	font-family: Arial;
	/*font-family: bbva-icons;*/
	padding: 0px;
	margin: 0px;
}

.restaurante {
	width: 100%;
	text-align: center;
}

h1 {
	color: green;
	text-align: center;
	font-size: 20px;
	margin: 2px 0px 5px 0px;
/*	font-size: 2vw;*/ /* de acuerdo al ancho */
}
h2 {
	color: green;
	text-align: center;
	font-size: 14px;
	margin: 2px 0px 5px 0px;
}

/* Begin Botones */
#botones {
	width: 100%;
	padding: 5px;
	/*height: 20px;*/
	border-bottom: 1px solid black;
	position: fixed;
	background: #57ccfe;
	background: -moz-linear-gradient(top,#24c2e8 0,#57ccfe 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#24c2e8),color-stop(100%,#57ccfe));
    background: -webkit-linear-gradient(top,#24c2e8 0,#57ccfe 100%);
    background: -o-linear-gradient(top,#24c2e8 0,#57ccfe 100%);
    background: -ms-linear-gradient(top,#24c2e8 0,#57ccfe 100%);
    background: linear-gradient(to bottom,#24c2e8 0,#57ccfe 100%);
    border: 1px solid #57ccfe;
}
#botones button {
	width: 100px;
	height: 40px;
	padding: 5px;
	margin: 0px 5px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/*.boton-nuevo-grupo {
	color: white;
	background: #57ccfe;
	background: -moz-linear-gradient(top,#24c2e8 0,#57ccfe 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#24c2e8),color-stop(100%,#57ccfe));
    background: -webkit-linear-gradient(top,#24c2e8 0,#57ccfe 100%);
    background: -o-linear-gradient(top,#24c2e8 0,#57ccfe 100%);
    background: -ms-linear-gradient(top,#24c2e8 0,#57ccfe 100%);
    background: linear-gradient(to bottom,#24c2e8 0,#57ccfe 100%);
    border: 1px solid #57ccfe;
}*/

.boton-nuevo-grupo,
.boton-recibir-grupo,
.boton-tomar-nota,
.boton-atender-orden {
	color: white;
	background: #8bb530;
	background: -moz-linear-gradient(top,#26ff00 0,#8bb530 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#26ff00),color-stop(100%,#8bb530));
    background: -webkit-linear-gradient(top,#26ff00 0,#8bb530 100%);
    background: -o-linear-gradient(top,#26ff00 0,#8bb530 100%);
    background: -ms-linear-gradient(top,#26ff00 0,#8bb530 100%);
    background: linear-gradient(to bottom,#26ff00 0,#8bb530 100%);
    border: 1px solid #8bb530;
}
/* End Botones */

/* Begin Aside */
#carta {
	margin-top: 45px; 
	width: 30%;
	display: inline-block;
	/*text-align: center;*/
	margin: 0px;
	float: left;
	/*border-right: 1px solid #afafaf;*/
}

/* Begin Table Carta */
table {
	width: 90%;
	margin: 10px 5px;
	display: inline-table;
	font-size: 12px;
	text-align: left;
}
th, td {
	padding: 2px;
	margin: 0px;
}
th {
	border-bottom: 1px solid #afafaf;
	color: #77ccff;
}
td {
	border-bottom: 1px solid #cfcfcf;
}
.product-name {
	font-weight: bold;
}
.product-info {
	text-align: center;
}

/* End Table Carta */
/* End Aside */

/* Begin Right Content Header */
#mesas {
	width: 69%;
	display: inline-block;
	/*text-align: center;*/
}
.mesa {
	font-size: 10px;
	display: inline-block;
	text-align: center;
	width: 16%;
	margin: 2px;
	padding: 0px 5px;
	background: #aadfff;
	background: -moz-linear-gradient(top,#77ccff 0,#aadfff 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#77ccff),color-stop(100%,#aadfff));
    background: -webkit-linear-gradient(top,#77ccff 0,#aadfff 100%);
    background: -o-linear-gradient(top,#77ccff 0,#aadfff 100%);
    background: -ms-linear-gradient(top,#77ccff 0,#aadfff 100%);
    background: linear-gradient(to bottom,#77ccff 0,#aadfff 100%);
    border: 1px solid #aadfff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.mesa p {
	text-align: left;
	margin: 2px 0px;
}

.mesa p.icon {
	text-align: right;
	height: 20px;
}
/* End Right Content Header */


/* Begin Recepcion */
#recepcion {
	/*text-align: center;*/
	width: 100%;
	/*margin: 5px;*/
	padding: 5px;
	position: fixed;
	bottom: 0px;
	background: #efefef;
	background: -moz-linear-gradient(top,#fefefe 0,#efefef 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fefefe),color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top,#fefefe 0,#efefef 100%);
    background: -o-linear-gradient(top,#fefefe 0,#efefef 100%);
    background: -ms-linear-gradient(top,#fefefe 0,#efefef 100%);
    background: linear-gradient(to bottom,#fefefe 0,#efefef 100%);
    border: 1px solid #efefef;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.grupo-personas {
	width: 10%;
	display: inline-block;
	margin: 2px;
	padding: 0px 2px;
	font-size: 12px;
	background: #8bb530;
	background: -moz-linear-gradient(top,#26ff00 0,#8bb530 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#26ff00),color-stop(100%,#8bb530));
    background: -webkit-linear-gradient(top,#26ff00 0,#8bb530 100%);
    background: -o-linear-gradient(top,#26ff00 0,#8bb530 100%);
    background: -ms-linear-gradient(top,#26ff00 0,#8bb530 100%);
    background: linear-gradient(to bottom,#26ff00 0,#8bb530 100%);
    border: 1px solid #8bb530;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.grupo-personas p {
	margin: 2px 0px;
}
/* End Recepcion */


@media (max-width: 750px){
	#mesas, #carta{
		/*display: block;*/
		width: 90%;
	}
	#carta {
		float: none;
	}
	.grupo-personas {
		width: 15%;
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 16px;
		margin: 2px 0px;
	}
	h2 {
		font-size: 12px;
	}
	#botones button {
		width: 70px;
		padding: 2px;
		margin: 0px 2px;
	}
	.mesa {
		width: 44%;
	}
	.grupo-personas {
		width: 20%;
	}
}
